// Toggle global options through variable override
$enable-gradients: true;
$enable-shadows: true;

$box-shadow: 0 0 15px 5px;

$navbar-dark-color: rgba(255, 255, 255, .7);
$navbar-dark-hover-color: rgb(255, 255, 255);
