@import "../overrides";

$dark-theme: true;

@import "bootstrap/scss/functions"; // Required

// theme colors
$primary: #6366f1;
$secondary: #eff2fc;
$light: rgb(82, 142, 211);

// $border-radius: 1rem;
$box-shadow: $box-shadow rgba(99, 102, 241, .7);

$body-bg: #131022;
$body-color: rgba(#fff, .75);
$card-bg: rgba(99, 102, 241, .7);
$card-cap-bg: rgba(57, 58, 140, .9);
$modal-content-bg: rgba(57, 58, 140, .9);
$input-disabled-bg: #1a1921;
$input-group-addon-bg: $primary;
$form-check-input-bg: $body-color;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

@import "../common";

a.download-link {
  font-style: italic;
  color: #fff;
}

.liquid-token-card-body {
  background-color: rgba(#000, .7);
}

.card {
  border-color: rgba(#000, .7);
}

nav.bg-primary {
  background-color: rgba(32, 32, 78, .9) !important;
}
