$rdt-background: $modal-content-bg;
$rdt-box-shadow: $body-bg;
$rdt-active: $primary;

$rdt-border: #f9f9f9;
$rdt-disabled: #999;
$rdt-background-hover: #eee;

@if ($dark-theme) {
  $rdt-border: #0a0a0a;
  $rdt-disabled: #bbb;
  $rdt-background-hover: #222;
}

.rdt {
  position: relative;
}

.rdtPicker {
  display: none;
  position: absolute;
  min-width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: $rdt-background;
  box-shadow: 0 1px 3px $rdt-box-shadow;
  border: 1px solid $rdt-border;

  .rdtTimeToggle {
    text-align: center;
  }
  table {
    width: 100%;
    margin: 0;
  }
  td,
  th {
    text-align: center;
    height: 28px;
  }
  td {
    cursor: pointer;

    &.rdtDay:hover,
    &.rdtHour:hover,
    &.rdtMinute:hover,
    &.rdtSecond:hover,
    &.rdtTimeToggle:hover {
      background: $rdt-background-hover;
      cursor: pointer;
    }
    &.rdtOld,
    &.rdtNew {
      color: $rdt-disabled;
    }
    &.rdtToday {
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        border-left: 7px solid transparent;
        border-bottom: 7px solid $rdt-active;
        border-top-color: $rdt-box-shadow;
        position: absolute;
        bottom: 4px;
        right: 4px;
      }
    }
    &.rdtActive,
    &.rdtActive:hover {
      background-color: $rdt-active;
      color: $rdt-background;
      text-shadow: 0 -1px 0 $rdt-box-shadow;
    }
    &.rdtActive.rdtToday:before {
      border-bottom-color: $rdt-background;
    }
    &.rdtDisabled,
    &.rdtDisabled:hover {
      background: none;
      color: $rdt-disabled;
      cursor: not-allowed;
    }

    span.rdtOld {
      color: $rdt-disabled;
    }
    span.rdtDisabled,
    span.rdtDisabled:hover {
      background: none;
      color: $rdt-disabled;
      cursor: not-allowed;
    }

    &.rdtMonth,
    &.rdtYear {
      height: 50px;
      width: 25%;
      cursor: pointer;
    }
    &.rdtMonth:hover,
    &.rdtYear:hover {
      background: $rdt-background-hover;
    }
  }

  th {
    border-bottom: 1px solid $rdt-border;

    &.rdtSwitch {
      width: 100px;
    }
    &.rdtNext,
    &.rdtPrev {
      font-size: 21px;
      vertical-align: top;
    }
    &.rdtDisabled,
    &.rdtDisabled:hover {
      background: none;
      color: $rdt-disabled;
      cursor: not-allowed;
    }
  }

  .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
  }

  thead {
    tr:first-of-type {
      th {
        cursor: pointer;

        &:hover {
          background: $rdt-background-hover;
        }
      }
    }
    button {
      width: 100%;
      height: 100%;
    }
  }

  tfoot {
    border-top: 1px solid $rdt-border;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      background-color: $rdt-background-hover;
    }
  }
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounters {
  display: inline-block;

  & > div {
    float: left;
  }
}

.rdtCounter {
  height: 100px;
  width: 40px;

  .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &:hover {
      background: $rdt-background-hover;
    }
  }

  .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;

  input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
  }
}

.rdtTime td {
  cursor: default;
}
